@media screen and (max-width: 600px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    header nav a{
        padding: 0 10px;
    }

    .filme-principal .container{
        margin-top: 10%;
        width: 90%;
        text-align: justify;
    }

    .filme-principal{
        flex-direction: row;
        height: 30vh;
    }

    .filme-principal .descricao{
        display: none;
    }

    .filme-principal .titulo{
        font-size: 5vh;
    }

    .botao{
        width: 40%;
        font-size: 10px;
        padding: 0px;
        margin-top: 5px;
        height: 50px;
    }

    .box-filme{
        width: 60% !important;
        margin-left: 20%;
    }

    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-recipe{
        margin-top: 40vw;
    }
}

@media screen and ( max-width: 999px) {
    .filme-principal{
        display: flex;
        flex-direction: row;
    }

    .filme-principal .container{
        margin-top: 25%;
        text-align: justify;
    }

    .container-recipe{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        width: 90%;
        
    }

    .container-recipe .recipe{
        width: 100%;
    }

    .video{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .video iframe{
        width: 70%;
        height: 100%;
    }
}


@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }

}